/*
Other colors:

    color: rgb(229,231,235);
    background-color: rgb(31,41,55);

    color: rgb(229,231,235);
    color: rgb(156,163,175);
    background-color: #000;
*/

/* Copied from https://github.com/LeoColomb/perfectmotherfuckingwebsite */
body {
    max-width: 650px; 
    margin: 40px auto;
    padding: 0 10px;
    1font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #444
}
h1, h2, h3 {
    line-height:1.2
}
@media (prefers-color-scheme: dark) {
    body {
        color: #c9d1d9; 
        background: #0d1117;
    }
    a:link {
        color: #58a6ff
    }
    a:visited { 
        color: #8e96f0
    }
    .jotiform_error {
        color: black;
    }
}
input, textarea, button {
    color: inherit;
    background: inherit;
    font: inherit;
}

.jotiform > div {
    margin: 0.5rem 0;
}
.jotiform label {
    display: block;
}
.jotiform input, .jotiform textarea {
    display: block;
    width: 100%;
}
.jotiform textarea {
    height: 200px;
}
.jotiform button {
    padding: 0 1rem;
}
.jotiform_save {
    padding: 1rem 0;
    text-align: center;
}
.jotiform_save button {
    font-weight: bold;
}
.jotiform_error {
    font-weight: bold;
    background-color: lightgray;
    border: 1px solid;
    text-align: center;
}

